@import "tailwindcss";
@layer base{
  body{
    font-family: "Montserrat", "Arial", sans-serif;
  }
  html, body, #root {
    @apply min-h-screen bg-green-950;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}
